@import "tailwindcss";

/* ========================================
   FLATPICKR STYLES
   ======================================== */
@import 'flatpickr/dist/flatpickr.css';

/* ========================================
   ESTILOS PARA SELECT
   ======================================== */

select option {
  padding: 10px 14px;
  background-color: white;
  color: #111827;
  font-weight: 500;
}

select option:checked {
  background-color: #0d9488;
  color: white;
  font-weight: 600;
}
